body {
    overflow: hidden;
}

canvas{
    background-color: lightgray;
    margin: 0 auto;
    display: block;
}

@font-face {
    font-family: 'pixel-font';
    src:
        local('DisposableDroidBB'),
        local('DisposableDroidBB-Regular'),
        url('DisposableDroidBB.ttf');
    }
  